name = "dota-matches-api"
account_id = "a2ae71949fd5eaebc354f81fb3b1deab"
compatibility_date = "2022-07-17"
usage_model = "bundled"

kv_namespaces = [{ binding = "CACHE", id = "36fe05a650434c41943c782672f104b4" }]
r2_buckets = [{ binding = "WEBHOOKS", bucket_name = "dota-matches-webhooks" }]

[miniflare]
kv_persist = true
r2_persist = true

[vars]
API_BASE = "http://localhost:8787"
DISCORD_CLIENT_ID = "999099490273337354"
DISCORD_PUBLIC_KEY = "7df58ea4839882888b45f9b56936b0e5e2f6f49fe1d0e88d2637cb4e14ce849c"

[vars.production]
API_BASE = "https://dota-matches-api.beequeue.workers.dev"

[build]
command = "pnpm --silent build"
# The directory to watch for changes while using `wrangler dev`, defaults to the current working directory
watch_dir = "src"
[build.upload]
format = "modules"
main = "index.mjs"

[env.discord]
triggers = { crons = ["0 11 * * *", "* * * * *"] }
kv_namespaces = [{ binding = "CACHE", id = "36fe05a650434c41943c782672f104b4" }]
r2_buckets = [{ binding = "WEBHOOKS", bucket_name = "dota-matches-webhooks" }]
[env.discord.vars]
API_BASE = "https://dota-matches-api-discord.beequeue.workers.dev"
